hr:not([size]) {
  height: 4px;
}

.long {
    top:56px;
  }
.main-wrapper {
display: flex;
}

.img-loader {
background-color: #C0C0C0;
width: 100%;
min-width: 100px;
height: calc(100vh - 56px);
display: flex;
}

.navbar {
width: 100%;
}
.hr-instr{
  width: 100%;
  color: white;
}
.input-em{
  width: 50px;
}
.ul-pag{
  padding: 2%;
}
.flex{
  display: flex;
  justify-content: space-between;
}
.flex-center {
  margin: 0 auto;
}
.input-em-wt{
  width: 50px;
  background: transparent;
  border: none;
  color:white;
}
.right-side{
  display: flex;
}
.din-in{
  margin-bottom: 50%;
}
body{
  background-color: #212529;
}
.button-start{
  height: 70px;
  width: 400px;
  justify-content:center;
  align-items:center;
  margin-right: 30%;
  margin-top: 23%;
  color: rgb(255, 255, 255);
  background-color: #000000;
}
.start-info{
  justify-content: center;
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-left: 0%;
  width: auto;
  min-width: 500px;
}
.button-start:not(:hover){
	color: rgb(255, 255, 255);
}
.button-start:hover {
	color: #fff;
	background: rgb(219, 68, 68);
  }
  .button-start:active{
	 color: #000;
  }
  