body{background:#ffeedd}
img{position:absolute;left:0px;top:0px}
.tools{width:72mm;height:200mm;position:fixed;top:0px;left:230px;background:#ddeeff}
.showXY{position:fixed;top:0px;left:0px;width:30mm;font:600 6mm Arial;color:#ffffff}
.nav{width:130px;height:70px;background:#ddeeff;position:fixed;top:0px;left:0px}
.loizo{width:60mm;height:11mm;background:#aabbdd; position:fixed;left:0px;top:75px}
.tab{position:fixed;left:0px;top:123px;width:60mm;background:#ffffff}
tr.zag{font:6mm Arial;color:#800000}
tr.dat{font:5mm Arial;color:#000000}
th.zagtool{font:600 4mm Arial;color:#445588}

input.cor{width:58mm;height:8mm;background-color:#776655;color:#ffffff;font:6mm Arial}
input.cal{width:15mm;height:5mm}
input.b1{width:54mm;height:9mm;background-color:#706050;font:6mm Arial;color:#ffffff}
input.tx{width:17mm;height:6mm;background-color:#ddeeff;font:5mm Arial;color:#800000}
input.txc{width:10mm;height:6mm;background-color:#ddeeff;font:bold 5mm Arial;color:#800000}
input.txc1{width:20mm;height:6mm;background-color:#ddeeff;font:bold 5mm Arial;color:#800000}
.txc2{width:15mm;height:7mm;background:#ddeeff;font:bold 6mm Arial;color:#800000}
.txc21{width:17mm;height:7mm;background:transparent;font:bold 6mm Arial;color:#800000;border:none}
.txcM{width:19mm;height:7mm;background:transparent;border:none; font:bold 6mm Arial;color:#800000;}
.txc3{width:10mm;height:5mm;background-color:#ddeeff;font:bold 5mm Arial;color:#800000}
.txc31{width:13mm;height:7mm;background:transparent;font:bold 6mm Arial;color:#800000;border:none}
input.b2{position:relative;top:-35px;left:0px;width:54mm;height:9mm;background-color:#706050;font:6mm Arial;color:#ffffff}

.imfile{width:58mm;height:8mm;font:6mm Arial;color:white;background:#000060;position:relative;top:5px}
table.tb{position:relative;top:-30px;left:10px}
table.tb1{position:relative;top:-15px;left:0px}
p{font:13pt Arial;color:#ffffff;background:#667788;text-indent:5mm}
em.cl{font:italic 16pt Arial;color:#800000}
h3{font:7mm Arial;text-align:center;color:#800000}
.emTo{font:600 7mm Arial;color:#800000;position:relative;left:-35px}
em{font:600 7mm Arial;color:#800000}
.eplu{font:600 7mm Arial;color:#800000;position:relative;top:10px}
.emin{font:600 7mm Arial;color:#800000;position:relative;top:-10px}
em.k{position:relative;left:3px;top:0}
em.e1{position:relative;left:10px;top:0;font:600 5mm Arial;color:#800000}
.enav{font:bold 7mm Arial;color:#800000;position:relative;left:10px;top:3px}
.ind{width:60px;height:25px;background:transparent;border:none;font:bold 25px Arial;color:#000060}
.infinal{width:900px;height:215px;background:#ddeeff;position:fixed;right:10px;top:10px;font:6mm Arial;color:#800000;text-align:justify}
