<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    .helper{
    position: absolute;
    font-size: larger;
    font-family: 'Courier New', Courier, monospace;
  }
    </style>
    <title>Помощь</title>
</head>
<body>
    <div class="helper">
        Перед началом работы просьба ознакомится с методикой проведения измерений. <br> Для большей удобности пользования были добавлены всплывающие подсказки при наведении курсором мыши на блоки с информацией.
       <br> 1. Выберите необходимый Вам файл с растровым изображением осцилограммы<br>2. Калибровка - определение масштаба времени<br>3. Нуль осциллограммы - сканирование двух точек нулевой линии осциллограммы<br>
        4. Задайте количество точек сканирования<br>5. Выполните сканирование экспоненциального импульса напряжения осциллограммы до появления сообщения о завершении сканирования<br>Приятного использования!
      </div>
</body>
</html>